<footer class="mt-5 p-5 bg-body-tertiary container-fluid">
  <div class="row">
    <div class="col text-center">
      <a href="/">
      <div class="logo-container mb-4">
        {% include logo_svg.html %}
      </div>
      </a>
    </div>

    <div class="col text-center">
      <p><a href="/about" class="link-secondary">About</a></p>
      <p><a href="{{ site.docs_url }}" class="link-secondary" target="_blank">Documentation</a></p>
    </div>

    <div class="col text-center">
      <p><a href="/transparency" class="link-secondary">Transparency</a></p>
      <p><a href="/privacy" class="link-secondary">Privacy policy</a></p>
      <p><a href="{{ site.github_url }}" class="link-secondary" target="_blank">Sources</a></p>
    </div>
  </div>
</footer>
