<nav class="site-nav">
  <div class="nav-inner">

    <a class="nav-brand" href="/">
      {% include logo_with_brand.svg.html height="32" %}
    </a>

    <ul class="nav-links">
      <li><a href="/about">about</a></li>
      <li><a href="{{ site.getting_started_url }}" target="_blank" rel="noopener">getting-started</a></li>
    </ul>

    <div class="nav-right">
      {% include theme_selector.html %}
      <a class="nav-icon" href="{{ site.github_repo_url }}" target="_blank" rel="noopener" aria-label="GitHub repository">
        {% include icons/github.svg.html %}
      </a>
    </div>

  </div>
</nav>
