<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link" href="{{ site.data.links.getting_started }}">Getting started</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="{{ site.data.links.sign_up }}">Sign up</a>
        </li>
        <li class="nav-item">
          {% include theme_selector.html %}
        </li>
      </ul>

      <span class="navbar-text">
        <div class="d-inline-flex me-3">
          <a class="nav-link opacity-50" href="{{ site.data.links.github }}" target="_blank">
            <i class="bi bi-github me-2"></i>
          </a>
        </div>
      </span>
    </div>
  </div>
</nav>
