<div class="dropdown bd-mode-toggle">
  <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
          id="bd-theme"
          type="button"
          aria-expanded="false"
          data-bs-toggle="dropdown"
          aria-label="Toggle theme (auto)">
    {% include icons/circle-half.svg.html class="me-2 opacity-50" %}
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
        {% include icons/sun-fill.svg.html class="me-2 opacity-50" %}
        Light
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
        {% include icons/moon-stars-fill.svg.html class="me-2 opacity-50" %}
        Dark
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
        {% include icons/circle-half.svg.html class="me-2 opacity-50" %}
        Auto
      </button>
    </li>
  </ul>
</div>
